header{
	position: absolute; 
	width: 100%; 
	top:0; 
	z-index: 999; 
// 	background: rgba(255,255,255,.9);
	img{
		max-width: 200px; 
		padding: 15px; 
		margin: 15px; 
			@include mobile-break{
				max-width: 130px; 
			}
		}
}

header.interior{
	position: relative; 
	background: url('assets/images/home-poppies.jpg') center center no-repeat; 
	background-size:cover;
	height: 300px; 
}

.menu-main-container{
	display: inline-block; 
	float: right; 
}


header ul {
	text-align: right; 
	margin: 0 auto; 
	display: inline-block; 
	float: right; 
	padding: 30px; 
	li{
	text-align: center;
	list-style-type: none; 
	padding: 15px; 
	display: inline-block; 
	font-weight: 600; 
	font-size: 16px; 
	text-transform: uppercase; 
	color: #fff; 
	a {
	    color: #EB9851;
	    text-decoration: none;
	    &:hover{
		    color: #EB9851;
		    text-decoration: underline; 
	    }
	}
	}
}