* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  margin: 0;
  color: #777;
  	font-family: 'Montserrat', sans-serif;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  /**
   * Default height
   */
  height: 100%;
  min-height: 85vh;
  display: flex;
}

.caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  height: 100%;
  
    align-self: center;
    width: 100%;
}

.caption .border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #111111;
  text-align:center;
}

.text {
  color: #777777;
  background-color: #ffffff;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .parallax {
    background-attachment: scroll;
  }
}

.overlay{
	height: 100%; 
	width: 100%; 
	z-index: 99; 
	background: rgba(0,0,0,.5);
	position: absolute; 
}

.menu-wrap{
	position: relative; 
	z-index: 991; 
}

.hero-caption{
	font-size: 56px; 
	color: #fff; 
	z-index: 991;

	
	padding: 20px; 
	text-align: center;
	font-family: 'Roboto Slab', serif;
	h1{
		font-size: 56px; 
	}
	
	@include mobile-break{
			font-size: 36px; 
			h1{
				font-size: 36px; 
			}
		}
	span{
		font-size: 16px; 
		font-weight: 400; 
		letter-spacing: 5px; 
			text-transform: uppercase; 
			font-family: 'Montserrat', sans-serif;
	}
}


h3.entry-title, h1.entry-title, .single-post .entry-title{
	font-size: 30px;
    text-transform: uppercase;
    line-height: 40px;
    font-family: $font-serif; 
    letter-spacing: 2px; 
    font-weight: normal; 
    padding-top: 80px; 
    @include mobile-break{
			font-size: 30px;
			padding-top: 40px; 
		}
}

h1.entry-title{
	text-transform: none;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px; 
	 padding-top: 60px; 
	 @include mobile-break{
			font-size: 30px;
		}
}

h2, h3{
    font-size: 34px;
	font-family: 'Roboto Slab', serif;
    font-weight: normal; 
}

h3{
	font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    letter-spacing: 2px; 
}


p{
	font-size: 14px; 
	line-height: 24px; 
	color: $gray-med; 
		font-family: 'Montserrat', sans-serif;
}

button, input[type="button"], input[type="submit"] {
    background-color: $orange;
    border: 2px solid $orange;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    padding: 1.25em 3.5em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    &:hover, &:focus{
	    border: 2px solid $orange;
	    color: $orange; 
	    background: #fff;  
    }
}

a {
    color: $orange;
    text-decoration: none;
    &:hover{
	    color: $orange;
	    text-decoration: underline; 
    }
}

.wrap{
	padding-left: 30px; 
	padding-right: 30px; 
}

.home-content{
	padding: 100px 20px;
	max-width: 1000px; 
	margin: 0 auto; 
	display: flex;
	 @include mobile-break{
			display: block;
		}
	.home-left, .home-right{
		width: 50%; 
		align-self: center;
		padding: 10px; 
		 @include mobile-break{
			width: 100%;
		}
	}
	p{
		font-size: 18px; 
		line-height: 32px; 
		color: $gray-med;
	}
}



.site-content {
    padding: 0px 0 0;
}


p.large{
	font-size: 24px; 
	font-family: 'Montserrat', sans-serif;
	font-weight: 100; 
}



ul.slick-dots{
	text-align: center; 
	li{
		display: inline-block; 
		button{
		text-indent: -9999px; 
		height: 10px; 
		width: 60px;
		margin: 15px; 
		padding: 0px; 
		opacity: .5; 
		}
		&.slick-active{
			button{
				opacity: 1; 
			}
		}
	}
}